.toolbar{
    position:fixed;
    color: white;
    background-color: #3fce1e;
    top: 0px;
    height: 59px;
    width:100%;

}


.toolbar__navigation{
    display:flex;
    align-items: center;
    height: 100%;
    padding: 0 1rem;
}

.toolbar__logo link{
    color: white;
    text-decoration: none;
    font-size: 2rem;
    margin-left: 5px;
}

.toolbar_navigation-items ul {
    color: white;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.toolbar_navigation-items li{
    padding: 0 0.5rem;
}

.spacer{
    flex: 1;
}

.toolbar_navigation-items{
    padding: 0 .5rem;
}

.toolbar_navigation-items:active,
.toolbar_navigation-items:hover{
    color: orange;
}

.toolbar_logo{
    margin-left: 5rem;
}

.graphItself {

}