.bottoneria{
    display:flex;
    padding: 5px 5px 5px 5px;
    background-color: lightgray;
}

.graphRendered{
    width: 10% !important;
    height: 15%;
}



.internalTable{
    display:flex;
}

.R2{
    display:inline-block;
}


.pageContent{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    align-items: center;
    align-content: center;
    justify-content: center;
}



