.App{
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
}

.pageContent{
    margin-top: 10%;
    margin-right: 10%;
    margin-left: 10%;
    align-content: center;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.navBarClass{
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
}


