@import "_config.scss";


@mixin translateY($e) {
    -webkit-transform: translateY($e);
    -moz-transform: translateY($e);
    transform: translateY($e);
}

@mixin transition($e) {
    -webkit-transition: $e;
    -moz-transition: $e;
    transition: $e;
}




body{   
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    color: $black;
    font-weight: 400;
    font-style: normal;
    background-color: $white;
    
}


li {
    list-style-type: none;
}



a {
    text-decoration: none;
    @include transition(.4s ease-in-out);
    cursor: pointer;
    color: $white;
    &:hover {
        color:$primary;
        @include transition(.4s ease-in-out);
    }
}




.sideBar{
    .logo{
        font-size: 40px;
        top: 10px;
    }
    text-align: center;
    position:absolute;
    top: 0;
    height: 100%;
    background-color: $secondary;
    width: 20%;
    color: $white;
    li {
        &.hover{
            background-color:$white;
            @include transition(.4s ease-in-out);
        }
    }
}


.container-fluid{   
    margin-left: 22%;
    max-width: 75%;
    margin-top: 100px;
}


h2{
    margin-top: 50px;
    text-align: center;
}


.hlist {
    align-content: center;
    width:70%;
}

.graphitself{
    width: 70%
}



/*
.graphItself{
    left-margin: 16%;
    height: 17%;
    width: 18%;
}
*/

/*
header{
    margin-left: 15%;
    position: relative;
    display: block;
    width: 100%;
    background: $black;
    color: $white;
    height: 90px;

    .logo{
        font-size: 40px;
        position: absolute;
        top: 50%; left: 15px; 
        @include translateY(-50%);
    }
    
    nav,
    nav ul,
    nav ul li {
        margin: 0;
        padding: 0;
    }

    nav {
        position: absolute;
        top: 50%; right: 15px;
        @include translateY(-50%);  

        ul li {
            list-style-type: none;
            display: inline-block;
            margin-right: 15px; 
        }   

        &.last {
            margin: 0;
        }

        a{
            font-size: 19px;
            line-height: normal;
        }

    }
}*/
